<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="sqlSchemaComparerBuilder"
         name="Sql Schema Comparer Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.iti.sqlschemacomparerplugin.builder.SqlSchemaComparerBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="sqlSchemaComparerNature"
         name="Sql Schema Comparer Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.iti.sqlschemacomparerplugin.builder.SqlSchemaComparerNature">
         </run>
      </runtime>
      <builder
            id="org.iti.sqlSchemaComparerPlugin.sqlSchemaComparerBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <dynamic
               class="org.iti.sqlschemacomparerplugin.PluginActivationContributionItem"
               id="org.iti.sqlschemacomparerplugin.pluginActivationContributionItem">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.eclipse.jdt.core.javanature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         id="sqlStatementProblem"
         name="SQL Statement Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="jpaEntityDefinitionProblem"
         name="JPA Entity Definition Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.iti.sqlschemacomparerplugin.ToggleNatureHandler"
            id="org.iti.sqlschemacomparerplugin.toggleNature"
            name="ToggleNature">
            <state
         		class="org.eclipse.ui.handlers.RegistryToggleState"
         		id="org.iti.sqlschemacomparerplugin.toggleNature.toggleState">
   			</state>
      </command>
   </extension>

</plugin>
